.indvStepper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    cursor: pointer;
    user-select: none;
}


.bubble-bottom2 {
    --size: 50px;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    width: var(--size);
    height: calc(var(--size) * 0.66);
    background: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bubble-bottom2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: calc(var(--size) * 0.13) solid transparent;
    border-top-color: var(--secondary-color);
    border-bottom: 0;
    margin-left: calc(var(--size) * 0.13 * -1);
    margin-bottom: calc(var(--size) * 0.13 * -1);
}


.bubble-bottom2.active11 {
    background-color: var(--primary-color);
}

.bubble-bottom2.active11::after {
    border-top-color: var(--primary-color);
}


.venue{
    height: 190px;
    width: 250px;
    background-color: var(--primary-color);
    background-size: 250px 190px;
    border-radius: 10px;
    border: 2px solid var(--primary-color) ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    margin: 4px;
}

.capacityVenue{
    height: 30px;
    width: 250px;
    background-color: var(--secondary-color) ;
    position: absolute;
    bottom: 0px;
    border-radius: 20px 20px 10px 10px ;
    /* border: 1px solid #fff; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.capacityVenue img{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.venueName img{
    height: 20px;
    width: 20px;
}
.buttonsSections{
    position: absolute;
    bottom:40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonsSections button{
    padding:8px 10px;
    border-radius: 0px;
    width: 40%;
    margin: 0;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--supportive-color);
    border: 2px solid var(--primary-color);
    transition: transform 0.3s ease,
}

.buttonsSections button.selected{
    color: #fff;
    background-color: var(--primary-color);
    border-color: #fff;
}

.buttonsSections button:hover{
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    /* transform: scale(1.1);
    transform-origin: center;
    font-size: 10px; */
}


.venueName{
    width: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlayDisabledVenue{
    position: absolute;
    top: 0;
    left: 0;
    height: 190px;
    width: 250px;
    background-color: var(--secondary-color);
    opacity: 0.5;
    border-radius: 10px;
    cursor: not-allowed;
}


.foodOptionMain{
    position: relative;
    height: 40px;
    width: 120px;
    background-color: rgba(53, 62, 73, 0.3);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}



.foodOption{
    height: 40px;
    width: 120px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    position: absolute;
    left: -5px;
    top: -5px;
    background-color: #fff;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
}

.foodOption img{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.foodOption:hover{
    background-color: var(--primary-color);
    color: white;
}

.foodOption.selected{
    background-color: var(--primary-color);
    color: white;
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    max-width: 90px;
}

.quantity > input{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;
    text-align: center;
    border: 0px solid transparent;
    color: var(--secondary-color);
}

.leftQuantityBtn{
   height: 25px;
   width: 25px;
   background-color: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   border-right: 2px solid var(--primary-color);
   border-radius: 5px 0 0px 5px;
   cursor: pointer;
   font-size: 8px;
   color: var(--secondary-color);
}
.rightQuantityBtn{
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--primary-color);
    border-radius:0px 5px 5px 0;
    cursor: pointer;
    font-size: 8px;
    color: var(--secondary-color);
 }


.quantity > button{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}




.quantity2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    max-width: 90px;
}

.quantity2 > input{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;
    text-align: center;
    border: 0px solid transparent;
    color: var(--secondary-color);
}

.leftQuantityBtn2{
    height: 30px;
    width: 35px;
   background-color: beige;
   display: flex;
   align-items: center;
   justify-content: center;
   /* border-right: 2px solid var(--primary-color); */
   border-radius: 5px 0 0px 5px;
   cursor: pointer;
   font-size: 12px;
   color: var(--secondary-color);
}
.rightQuantityBtn2 {
    height: 30px;
    width: 35px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-left: 2px solid var(--primary-color); */
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    font-size: 12px;
    color: var(--secondary-color);
}


.quantity2 > button{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.valueQuantity2{
    width: 35px;
    height: 30px;
    border-radius: 5px;
    /* padding: 0 5px; */
    font-size: 16px;
    text-align: center;
    border: 0px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}





input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.drinksContainer{
    height: 70px;
    width: 220px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 5px;
    margin-right: 10px;
    position: relative;
}

.drinksContainer img{
    height: 50px;
    width: 50px;
    
}

.drinksContainer h2{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--primary-color);
    font-family: 'Montserrat';
    font-weight: 700;
}

.OthersContainer2{
    height: 90px;
    width: 220px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 0px;
    margin-right: 10px;
    position: relative;
}

.OthersContainer2_inner{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.OthersContainer2_inner img{
    height: 40px;
    width: 40px;
}

.radioButton_0{
  
        margin-right: 10px;
        position: absolute;
        top: 10px;
        right: 0px;

}

.OthersContainer2 h2{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--primary-color);
    font-family: 'Montserrat';
    font-weight: 700;
}
.OthersContainer2 h3{
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: var(--primary-color);
    font-family: 'Montserrat';
    font-weight: 700;
}

.drinkContainerBtn{
    padding: 2px 5px;
    margin: 0;
    /* width: 80px; */
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 5px;
    border: 1px dotted var(--primary-color);
    max-width: 100px;
    color: var(--secondary-color);

}
.drinkContainerBtn:hover{
    background-color: var(--primary-color);
    color: white;
    border: 1px dotted var(--primary-color);
}

.infoIcon{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.infoIcon img{
    height: 18px;
    width: 18px;
}



.calendarAppointmentCard{
    height: 50px;
    width: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    font-family: 'Montserrat';
    margin:10px;
}

.calendarAppointmentCard.selected{
    border: 2px solid var(--primary-color);
}

.calendarAppointmentCard:hover{
    border: 2px solid var(--primary-color);
}



.dateAppointmentCard{
    height: 65%;
    width: 100%;
    background-color: white;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--secondary-color);
   
}

.dayAppointmentCard{
    height: 35%;
    width: 70%;
    background-color: white;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-family: 'Montserrat';
    font-weight: 600;
    border-top: 1.5px solid var(--secondary-color);
    color: var(--secondary-color);
}


.circularButton{
   height: 10px;
   width: 10px;
   background-color: white;
   border-radius: 100%;
   padding: 8px;
   border: 1px solid var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: center;
   user-select: none;
   margin: 0 3px;
}

.circularButton img{
    height: 14px;
    width: 14px;
}
.circularButton:hover{
    background-color: var(--secondary-color);
}

.pricing_dining{
    position: absolute;
    bottom: 35px;
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: var(--secondary-color);
}
