@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.mainCenter{
  margin-top: 85px;
}

.ant-select-selector{
  border: 1.5px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 5px;
}



.ant-select-dropdown .ant-select-item-option-selected:not( .ant-select-item-option-disabled){
  background-color: var(--primary-color) !important;
  color: #fff !important;
  
}

.ant-select-arrow{
  color: white !important;
}

.ant-slider .ant-slider-handle:hover::after, .ant-slider .ant-slider-handle:active::after, .ant-slider .ant-slider-handle:focus::after{
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}

.ant-slider:hover .ant-slider-track{
  background-color: var(--primary-color) !important;
}

.ant-input-number-outlined:hover{
  border-color: var(--primary-color) !important;
}

.ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner, .ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner{
  color:var(--primary-color) !important;
}

.ant-slider .ant-slider-track{
  background-color: var(--primary-color) !important;
}
.ant-slider .ant-slider-handle::after{
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th{
  display: none !important;
}
.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel{
  background-color: var(--secondary-color) !important;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-inline-end: 18px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  color: #fff !important;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder > h4{
  color: #fff !important;
}
.ant-select-dropdown .ant-select-item-option-content {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  display: flex !important;
  align-items: center !important;
  /* justify-content: center; */
}
.ant-modal .ant-modal-body {
  font-size: 14px !important;
  line-height: 1.5714285714285714 !important;
  word-wrap: break-word !important;
  padding: 0 !important;
  max-height: 350px !important;
  overflow-y: scroll !important;
}


.ant-modal .ant-modal-body::-webkit-scrollbar-track {
  background-color: transparent !important;

}

.ant-modal .ant-modal-body::-webkit-scrollbar {
  width: 10px !important;
  background-color: transparent !important;
  border-radius: 10px !important;
}

.ant-modal .ant-modal-body::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 10px!important;
  background-image: -webkit-linear-gradient(90deg,
          var(--primary-color) 0%,
          var(--primary-color) 25%,
          transparent 100%,
          var(--primary-color) 75%,
          transparent) !important;
}


.ant-picker-calendar .ant-picker-content th, .ant-picker-calendar .ant-picker-content td .dates {
  margin: 5px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}






.mainSection{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  margin-top: 300px;
}

.topSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height:100px ;
}
.divider{
  height: 1.5px;
  width: 60%;
  background-color: #AA8252;
  margin: 5px 0;
}

.divider.mobile{
  height: 1.5px;
  width: 60%;
  background-color: #AA8252;
  margin: 5px 0;
}
.middleSection{
  max-height: 800px;
  height: 450px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px; */
  margin: 0 auto;
}
.lowerSection{
 height: 100px;
 background-color: #fff;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
.buttonSection{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSection button{
  background-color: var(--primary-color);
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  margin: 20px 20px;
  border-radius: 5px;  
  width: 200px;
  transition: 0.7s;
}

.buttonSection button:hover{
  background-color: var(--secondary-color);
  color: #fff;
  border: 1.5px solid var(--secondary-color);
}

.buttonSection button:active{
  border: 1.5px solid var(--secondary-color);
}

.ant-input-outlined:hover{
  border-color: var(--primary-color) !important;
}
.ant-input-outlined:active{
  border-color: var(--primary-color) !important;
}











.mainSummary{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 600px;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.BookingConfirm{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 400px;
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 10px;
  margin-top: 90px;
}

.upperAreaBC{
  height: 70%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upperAreaBC img{
  height: 120px;
  width: 120px;
}

.upperAreaBC h1{
  font-family: 'Montserrat';
  font-size: 32px;
  color: #fff;
  margin: 20px 0 0 0;
  text-align: center;
}

.lowerAreaBC{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerSlider{
  height: 45px;
  width: 250px;
  background-color: #fff;
  border-top: 0px solid transparent;
  border-bottom: 1.5px solid var(--secondary-color);
  border-left: 1.5px solid var(--secondary-color);
  border-right: 1.5px solid var(--secondary-color);
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 999;
  border-radius: 0 0 10px 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow-y: hidden;
}

.bannerSlider img{

}

.bannerSlider h4{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 14px;
}

.bannerSlider h2{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 14px;
}


.bannerSlider h5{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 12px;
}

.bannerSlider h6{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 12px;
}










.bannerSlider0{
  height: 45px;
  width: 250px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bannerSlider0 h4{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 14px;
}

.bannerSlider0 h2{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 14px;
}


.bannerSlider0 h5{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 10px;
}

.bannerSlider0 h6{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 10px;
}


.bannerSlider0 img{
  height: 60px;
  width: 190px;

}

.bannerSlider img{
  height: 5px;
  width: 100%;

}













.backDropMainSection{
  display: none;
}

.backDropMainSection.show{
  display: block;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 999;
  backdrop-filter: blur(3px);
}

.bannerSlider:hover{
  height: 220px;
}

.mainSummaryHeader{
  height: 90px;
  width: 100%;
  background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.backButtonMSH{
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 30px;
}

.backButtonMSH img{
  height: 18px;
  width: 18px;

}

.backButtonMSH{
  cursor: pointer;
  user-select: none;
}

.backButtonMSH h3{
  margin: 0 0 0px 2px;
  font-size: 15px;
  font-family: 'Montserrat';
  color: var(--secondary-color);
}


.backButtonMSH h3:hover{
  color: var(--primary-color);
}

.mainSummaryHeader h2{
  margin: 0px;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: var(--primary-color);
}


.dates {
    transition: opacity 0.5s ease-in-out;
}

.dates.forward {
    opacity: 0;
}

.dates.backward {
    opacity: 0;
}



.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 10px;
  line-height: 20px;
  padding: 0 8px 0 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 90px;
  margin-top: 10px;
  margin-right: 10px;

}

.button-13:hover {
  background-color: #f7fafa;
  border-color: var(--secondary-color) !important;
}

.button-13:focus {
  border-color: var(--secondary-color) !important;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0 !important;
}




.button-14 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 10px;
  line-height: 20px;
  padding: 0 8px 0 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 90px;
  margin-top: 10px;
  margin-right: 10px;

}

.button-14:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color) !important;
  color: #fff;
}

.button-14:focus {
  border-color: var(--primary-color) !important;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0 !important;
}

.innerContentStep1{
  display:flex;
  flex-direction:column;
  padding-top:30px;
}
.venuesSelectionTab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.allVenues{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  max-height: 400px;
  overflow-y: auto;

}


.dateTimeSelectionEvent{
  display: flex;
  justify-content: center;
}


.tableSetupType{
  display: flex;
}


.inputField_0_1{
  margin: 0 10px 0 10px !important;
}
.inputField_0_2{
  margin: 0 20px 0 10px !important;
}

.eventDetails_0{
  display: flex;
}

.Step4ContainerSections{
  display: flex;
  flex-direction: column;
}
.Step4ContainerSections_0{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:600px) {

  .header {
    padding: 0px !important;
  }
  .mainCenter{
    margin-top: 64px !important;
  }
  .logoHeader img {
    width: auto !important;
  }
  .bannerSlider{
      display: none !important;
  }
  .bannerSlider0{
    display: none !important;
  }
  .mainSection{
    margin: 0 auto !important;
        width: 100% !important;
        height: calc(100vh - 80px) !important;
  }
  .topSection{
    height: 15% !important;
  }
  .lowerSection{
    height: 15% !important;
  }
  .middleSection{
    height: 70% !important;
  }
  .innerContentStep1 {
    height: 90% !important;
    overflow-y: auto !important;
  }
  .innerContentStep1::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  
  .innerContentStep1::-webkit-scrollbar-track {
    background: rgb(188, 188, 188);;        /* color of the tracking area */
  }
  
  .innerContentStep1::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(188, 188, 188);;  /* creates padding around scroll thumb */
  }

  




  .allVenues::-webkit-scrollbar {
    width: 12px !important;               /* width of the entire scrollbar */
  }

  
  .allVenues::-webkit-scrollbar-track {
    background: rgb(188, 188, 188) !important;       /* color of the tracking area */
  }
  
  .allVenues::-webkit-scrollbar-thumb {
    background-color: var(--primary-color) !important;    /* color of the scroll thumb */
    border-radius: 20px !important;       /* roundness of the scroll thumb */
    border: 3px solid rgb(188, 188, 188) !important;;  /* creates padding around scroll thumb */
  }
  .topStepper{
    display: none !important;
  }
  .topStepperMobile{
    display: flex !important;
    width: 90vw;
    margin: 10px 0px;
  }
  .CircularProgressbar .CircularProgressbar-path{
    stroke: var(--primary-color) !important;
  }
  .CircularProgressbar .CircularProgressbar-text{
    fill: var(--primary-color) !important;
    font-weight: 700 !important;
    font-size: 24px !important;
  }
  .divider {
    margin: 10px 0 0 0;
  }
  .divider.mobile{
    display: none !important;
  }
  .innerContentStep1{
    padding:15px 10px 0 15px !important;
  }
  .buttonSection button {
    width: 150px;
    font-size: 12px;
    line-height: 1.5714285714285714;
    height: 32px;
    padding: 4px 4px;
    border-radius: 6px;
    margin: 15px 10px 10px 10px !important;
  }
  .drinksContainer,.OthersContainer2{
    width: 80% !important;
  }

  .allVenues{
            height: 100% !important;
    overflow-y: auto;
  }

  .allVenues::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  
  .allVenues::-webkit-scrollbar-track {
    background: rgb(188, 188, 188);;        /* color of the tracking area */
  }
  
  .allVenues::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(188, 188, 188);;  /* creates padding around scroll thumb */
  }
  .venue{
    height: 180px !important;
    width:  300px !important;
    background-size: 100% 100% !important;
  }
  .capacityVenue {
    height: 30px !important;
    width: 100% !important;
    background-color: var(--primary-color) !important;
    border-radius: 10px 10px 0px 0px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    top: 0;
}
.buttonsSections{
  bottom: 10px !important;
}
.dateTimeSelectionEvent{
flex-direction: column;
align-items: flex-start;
        justify-content: flex-start;
        max-height: 100% !important;
        overflow-y: auto;
        padding: 5px;
}
.calendarEventDateSelection{
  width: 100% !important;
  height: 100% !important;
}
.spacer1{
  width: 0 !important;
}
.eventSlotsSelection{
  width: 100% !important;
}
.slotInd{
  padding: 15px !important;
  font-size: 10px !important;
}
.slotsEvents{
  padding: 8px !important;
}






/* step 4 */


.sideStepper {
  width: 98% !important;
  height: 75px !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* margin-top: -10px !important; */
}

.sideStepperOpt img {
  height: 30px !important;
  width: 30px !important;
}

.sideStepperOpt p {
  font-size: 9px !important;
}

.sideStepperOpt h4 {
  font-size: 9px !important;
}
.step4Part1{
    flex-direction: column !important;
    margin-left: 0px !important;
    max-height: 350px !important;
}

.mainFoodDecorOthSec{
  width: 90% !important;
  flex-direction: column !important;
  align-items: center !important;
}

.foodTypes1{
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

.foodOption{
  height: 40px !important;
  width: 130px !important;
}
.packageItemsSelection{
  flex-direction: column !important;
}
.packageBeveragesSelection{
  flex-direction: column !important;
  margin-top: 0px !important;
  align-items: center;
  justify-content: center;
}
.foodOptionMain {
  width: 130px !important;
}
.step4Part1{
  max-height: 350px !important;
  margin-top: 5px;
  overflow-y: auto;
}
.step4Part1::-webkit-scrollbar {
  width: 5px !important;
}
.distanceBeverages{
  height: 10px;
}
.tableSetupType{
  flex-direction: column !important;
  align-items: center;
  justify-content: center;

}
.Step4ContainerSections{
  padding: 10px;
}

.step4Part2{
  margin-left: 0px !important;
}




/* Step 5 Summary */
.mainFoodDecorOthSec{
  width: 98% !important;
  height: 100% !important;
}


.foodSectionSummary{
  width: 88% !important;
  padding: 7px 7px 0px 7px !important;
}

.SectionSummaryBody{
  flex-direction: column !important;
}

.SectionSummaryBodyPart{
  width: 85% !important;
}

.venuesSelectionTab{
  width: 100% !important;
  height: 100% !important;
}

.venuesSelectionTab h4{
  display: none !important;
}

.extraSelections{
  width: 100% !important;
}




/* step appointment booking */

.mainContainerConsultantInfo{
  width: 90% !important;
  padding: 20px !important;
  max-height: 88% !important;
  overflow-y: auto;
}

.mainContainerConsultantInfo::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}


.mainContainerConsultantInfo::-webkit-scrollbar-track {
  background: rgb(188, 188, 188);;        /* color of the tracking area */
}

.mainContainerConsultantInfo::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(188, 188, 188);;  /* creates padding around scroll thumb */
}



.descriptionCI{
position: unset !important;
}

.dates_appointments{
  width: auto !important;
}

.descriptionCI h3{
  font-size: 22px  !important;
}







/* customer info */


.mainFormForm1{
  padding: 0 10px 0 0 !important;
  max-height: 90% !important;
  overflow-y: auto !important;
}

.mainFormForm1::-webkit-scrollbar {
  width: 12px !important;               /* width of the entire scrollbar */
}

.mainFormForm1::-webkit-scrollbar-track {
  background: rgb(188, 188, 188);;        /* color of the tracking area */
}

.mainFormForm1::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(188, 188, 188);;  /* creates padding around scroll thumb */
}

.formInputField{
  margin: 0 !important;
}
.inputField_0_1{
  margin: 0 !important;
}
.inputField_0_2{
  margin: 0 !important;
}

.inputField_0_1.small{
  margin: 0 0 0 5px !important;
}
.inputField_0_2.small{
  margin: 0 5px 0 0 !important;
}

.inputField_0_1.small_1{
  margin: 0 5px 0 0   !important;
}
.inputField_0_2.small_1{
  margin: 0 0 0 5px !important;
}

#form1{
  padding: 0 10px !important;
}
.mainSummaryPage_0{
  width: 95% !important;
}

.customer-detail {
  grid-template-columns: 1fr 4fr !important;
  margin-left: 5px !important;
}

.eventDetails_0{
  flex-direction: column !important;
}
.customer-details{
  margin-top: 0 !important;
}

.mainSummaryHeader {
  height: 65px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.summaryHeading{
margin-bottom: 10px !important;
margin-top: 10px !important;
height: 35px !important;
}
.mainSummaryHeader h2{
  position: absolute !important;
  left: 5px !important;
  top: 30px !important;
  font-size: 25px !important;
  margin: 0 0 5px 0 !important;
}
.backButtonMSH{
  left: 5px !important;
  top: 5px !important;
}
.event-goods-detail {
  grid-template-columns: 6fr 2fr !important;
}

.tax_label,.tax_value,.sub_total_value,.sub_total_label,.pricing-no-EGD,.name-no-EGD, .label,.value,.name-no-EGD{
  font-size: 12px !important;
}

.event-goods-Total {
  grid-template-columns: 2fr 4fr !important;
}
/* .mainSummary {
  height: 50px !important;
} */
.heading2SH {
  margin: 0 10px !important;
  font-size: 15px !important;

}
.infoTitle{
  display: none;
}

.mainImageSectionCI {
  height: 160px !important;
  width: 160px !important;
  margin-top: 25px !important;
}

.imgSectionCI {
  height: 260px !important;
  width: 150px !important;
  display: none !important;
}
.imageSectionCI1{
  height: 160px !important;
  width: 160px !important;
  bottom: 15px !important;
}
.imageSectionUnderline{
  display: none !important;
}
.imageSectionCI1 img{
  width: 110px !important;
}
.SectionSummaryBodyPart{
  padding: 4px !important;
}
/* .step4SummaryDetails{
  margin-top: 15px !important;
} */
}

@media (max-width:382px) {
  .mainStep4Summary h6{
    font-size: 10px !important;
  }
}

