@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




.css-dev-only-do-not-override-kghr11.ant-select-outlined:not( .ant-select-customize-input) .ant-select-selector{
  border: 1.5px solid var(--secondary-color) !important;
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.ant-select-focused.css-dev-only-do-not-override-kghr11.ant-select-outlined:not( .ant-select-disabled):not( .ant-select-customize-input):not( .ant-pagination-size-changer) .ant-select-selector{
  border: 1.5px solid var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.css-dev-only-do-not-override-kghr11.ant-select-outlined:not( .ant-select-disabled):not( .ant-select-customize-input):not( .ant-pagination-size-changer):hover .ant-select-selector{
  border-color: var(--primary-color) !important;
}

.css-dev-only-do-not-override-kghr11.ant-select-dropdown .ant-select-item-option-selected:not( .ant-select-item-option-disabled){
  background-color: var(--primary-color) !important;
  color: #fff !important;
  
}

.css-dev-only-do-not-override-kghr11.ant-select .ant-select-arrow{
  color: white !important;
}

.css-dev-only-do-not-override-kghr11.ant-slider .ant-slider-handle:hover::after, .css-dev-only-do-not-override-kghr11.ant-slider .ant-slider-handle:active::after, .css-dev-only-do-not-override-kghr11.ant-slider .ant-slider-handle:focus::after{
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}

.css-dev-only-do-not-override-kghr11.ant-slider:hover .ant-slider-track{
  background-color: var(--primary-color) !important;
}

.css-dev-only-do-not-override-kghr11.ant-input-number-outlined:hover{
  border-color: var(--primary-color) !important;
}

.css-dev-only-do-not-override-kghr11.ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner, .css-dev-only-do-not-override-kghr11.ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner{
  color:var(--primary-color) !important;
}

.css-dev-only-do-not-override-kghr11.ant-slider .ant-slider-track{
  background-color: var(--primary-color) !important;
}
.css-dev-only-do-not-override-kghr11.ant-slider .ant-slider-handle::after{
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}
.css-dev-only-do-not-override-kghr11.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th{
  display: none !important;
}
.css-dev-only-do-not-override-kghr11.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel{
  background-color: var(--secondary-color) !important;
}
.css-dev-only-do-not-override-kghr11.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .css-dev-only-do-not-override-kghr11.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-inline-end: 18px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  color: #fff !important;
}
.css-dev-only-do-not-override-kghr11.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .css-dev-only-do-not-override-kghr11.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder > h4{
  color: #fff !important;
}
.css-dev-only-do-not-override-kghr11.ant-select-dropdown .ant-select-item-option-content {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  display: flex !important;
  align-items: center !important;
  /* justify-content: center; */
}
.css-dev-only-do-not-override-kghr11.ant-modal .ant-modal-body {
  font-size: 14px !important;
  line-height: 1.5714285714285714 !important;
  word-wrap: break-word !important;
  padding: 0 !important;
  max-height: 500px !important;
  overflow-y: scroll !important;
}


.css-dev-only-do-not-override-kghr11.ant-modal .ant-modal-body::-webkit-scrollbar-track {
  background-color: transparent !important;

}

.css-dev-only-do-not-override-kghr11.ant-modal .ant-modal-body::-webkit-scrollbar {
  width: 10px !important;
  background-color: transparent !important;
  border-radius: 10px !important;
}

.css-dev-only-do-not-override-kghr11.ant-modal .ant-modal-body::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 10px!important;
  background-image: -webkit-linear-gradient(90deg,
          var(--primary-color) 0%,
          var(--primary-color) 25%,
          transparent 100%,
          var(--primary-color) 75%,
          transparent) !important;
}


.css-dev-only-do-not-override-kghr11.ant-picker-calendar .ant-picker-content th, .css-dev-only-do-not-override-kghr11.ant-picker-calendar .ant-picker-content td .dates {
  margin: 5px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}






.mainSection{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}

.topSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height:100px ;
}
.divider{
  height: 1.5px;
  width: 60%;
  background-color: #AA8252;
  margin: 5px 0;
}
.middleSection{
  max-height: 800px;
  height: 450px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px; */
  margin: 0 auto;
}
.lowerSection{
 height: 100px;
 background-color: #fff;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
.buttonSection{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSection button{
  background-color: var(--primary-color);
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  margin: 20px 20px;
  border-radius: 5px;  
  width: 200px;
  transition: 0.7s;
}

.buttonSection button:hover{
  background-color: var(--secondary-color);
  color: #fff;
  border: 1.5px solid var(--secondary-color);
}

.buttonSection button:active{
  border: 1.5px solid var(--secondary-color);
}

.css-dev-only-do-not-override-kghr11.ant-input-outlined:hover{
  border-color: var(--primary-color) !important;
}
.css-dev-only-do-not-override-kghr11.ant-input-outlined:active{
  border-color: var(--primary-color) !important;
}











.mainSummary{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 600px;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.bannerSlider{
  height: 45px;
  width: 250px;
  background-color: #fff;
  border-top: 0px solid transparent;
  border-bottom: 1.5px solid var(--secondary-color);
  border-left: 1.5px solid var(--secondary-color);
  border-right: 1.5px solid var(--secondary-color);
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 999;
  border-radius: 0 0 10px 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow-y: hidden;
}

.bannerSlider img{

}

.bannerSlider h4{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 14px;
}

.bannerSlider h2{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 14px;
}


.bannerSlider h5{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 12px;
}

.bannerSlider h6{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 12px;
}










.bannerSlider0{
  height: 45px;
  width: 250px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bannerSlider0 h4{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 14px;
}

.bannerSlider0 h2{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 14px;
}


.bannerSlider0 h5{
  margin: 10px 0 0 10px;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--secondary-color);
  font-size: 10px;
}

.bannerSlider0 h6{
  margin: 10px 10px 0 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-size: 10px;
}


.bannerSlider0 img{
  height: 70px;
  width: 190px;

}

.bannerSlider img{
  height: 5px;
  width: 100%;

}













.backDropMainSection{
  display: none;
}

.backDropMainSection.show{
  display: block;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 999;
  backdrop-filter: blur(3px);
}

.bannerSlider:hover{
  height: 220px;
}

.mainSummaryHeader{
  height: 90px;
  width: 100%;
  background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.backButtonMSH{
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 30px;
}

.backButtonMSH img{
  height: 18px;
  width: 18px;

}

.backButtonMSH{
  cursor: pointer;
  user-select: none;
}

.backButtonMSH h3{
  margin: 0 0 0px 2px;
  font-size: 15px;
  font-family: 'Montserrat';
  color: var(--secondary-color);
}


.backButtonMSH h3:hover{
  color: var(--primary-color);
}

.mainSummaryHeader h2{
  margin: 0px;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: var(--primary-color);
}


.dates {
    transition: opacity 0.5s ease-in-out;
}

.dates.forward {
    opacity: 0;
}

.dates.backward {
    opacity: 0;
}



.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 10px;
  line-height: 20px;
  padding: 0 8px 0 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 90px;
  margin-top: 10px;
  margin-right: 10px;

}

.button-13:hover {
  background-color: #f7fafa;
  border-color: var(--secondary-color) !important;
}

.button-13:focus {
  border-color: var(--secondary-color) !important;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0 !important;
}




.button-14 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 10px;
  line-height: 20px;
  padding: 0 8px 0 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 90px;
  margin-top: 10px;
  margin-right: 10px;

}

.button-14:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color) !important;
  color: #fff;
}

.button-14:focus {
  border-color: var(--primary-color) !important;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0 !important;
}