body{
  background-color: #fff;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #B78953;
  --secondary-color: #353E49;
  --supportive-color: #AA8252;
  --charcoal-color:#73787C;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



@media (max-width:1499px) {
  .inq-button-text{
    font-size: 12px;
  }
  .buttonHeader{
    justify-content: center;
}
}

@media (max-width:1265px) {
  .inq-button-text{
    font-size: 10px;
  }
  .tabsHeader > nav > ul > li > a{
    font-size: 11px;
  }
  .logoHeader{
    width: 15%;
  }
  .tabsHeader{
      width: 65%;
  }
  .buttonHeader{
      width: 20%;
  }
}

@media (max-width:1040px) {
  .eventTypeCardMain{
    height: 200px;
    width: 380px;
  }
  .eventTypeCardInner{
    height: 180px;
    width: 360px;
  }
  .allEventsTypes{
    margin: 0 auto;
  }

}

@media (max-width:800px) {
  .allEventTypes{
    flex-direction:column;
  }
  .allEventsAEIS{
    display: none;

  }
  .mobileEventList{
    display: block;
    width: 100vw;
  }
  .eventListShortDes{
    display: none !important;
  }
  .logoAllEvents{
    font-size: 12px !important;
  }
  .headingAEIS0{
    font-size: 26px !important;
  }
  .headingAEIS1{
    font-size: 26px !important;
  }
  .headerAEIS{
    margin-top: 110px;
  }
  .arrowShow {
    display: none;
  }
  .eventCard22{
    margin: 0px 15px 0 15px;
  }
  .footer2 p{
    font-size: 11px;
  }
  .headerAEIS0{
    margin-left: 10px !important;
    margin-bottom: 10px !important;
  }
  .eventDetailInd_row{
    flex-wrap: wrap;
    margin-top: 0;
  }
  .eventDetailInd {

  margin-top: 20px;
}
}
@media (max-width:600px) {
  .eventDetailInd{
    justify-content: flex-start;
  }
  .leftSideBF{
    height: 1000px;
  }
  .bottomSideBF{
    flex-direction: column;
    height: 120px;
    align-items: center;
    justify-content: center;
  }
  .applyBooking{
    margin-top: 5px;
  }
  .bottomSideBF_0{
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width:400px) {
  .eventDetailInd{
    width: 130px;
  }
}
@media (max-width:900px) {
  .logoHeader{
    width: 50%;
  }
  .tabsHeader{
      width: 0%;
  }
  .buttonHeader{
      width: 50%;
  }
  .header{
    padding:  10px 0;
  }
  .inquiry-button{
    display: none;
  }
  .menu-icon{
    display: block;
}
  .tabsHeader > nav{
    display: none;
  }
  .buttonHeader{
    justify-content: flex-end;
    padding: 0 15px;
  }
  .logoHeader > a > img{
    height: 60px;
  } 

  .mobileViewSideHeader{
    display: block;
  }

  .footer1{
    height: auto;
  }
  .footer1 p{
    margin: 5px;
    font-size: 13px;
  }
  .zelle{
    font-size: 13px;
  }
}

@media (max-width:424px) {
  .eventTypeCardMain{
    height: 150px;
    width: 330px;
  }
  .eventTypeCardInner{
    height: 130px;
    width: 310px;
  }
  .eventTypeCardInner img{
    height: 70px;
    width: 70px;
  }
  .eventTypeCardInner h3{
    margin: 0 0 10px 0;
  }
  .eventTypeCardMain {
    margin: 10px 5px;
  }

}

.foodNote{
  height: 100px !important;
}